Repository XandAI-project/Xandai-CLI: changes, and which pre-commit hooks are due for each by the changed paths.
All: xandai-tests, black, isort, flake8

xandai-tests:
  name: XandAI Multi-Language Tests
  entry: python scripts/run_precommit_tests.py
  language: system
  pass_filenames: false
  stages:
  - commit
  verbose: true

black:
  name: Format Python code with Black
  entry: black
  language: system
  args:
  - --line-length=100
  - --target-version=py310

isort:
  name: Sort Python imports with isort
  entry: isort
  language: system
  args:
  - --profile=black
  - --line-length=100

flake8:
  name: Lint Python code with flake8
  entry: flake8
  language: system
  args:
  - --max-line-length=100
  - --extend-ignore=E203
  - W503

add a blank line to force re-run of pipeline
  config.env.example
Due: none

fix: Pin Black version to 24.8.0 for consistent formatting across environments
  .github/workflows/test.yml
  .github/workflows/workflow.yml
  pyproject.toml
  requirements-dev.txt
Due: none

test: Remove failing Web functionality tests
  tests/test_content_extractor.py
  tests/test_web_fetcher.py
  tests/test_web_integration.py
Due: xandai-tests, black, isort, flake8

chore: Remove example test with missing fixture
  example/test_multi_framework.py
Due: black, isort, flake8

chore: Bump version to 2.1.14 - Hotfix release for generator handling bug
  setup.py
  xandai/__init__.py
Due: xandai-tests, black, isort, flake8

Path conditions:
  xandai-tests: any of: ^(xandai/|tests/).*\.py$
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
